* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

.lock-scroll {
  overflow: hidden;
}

body {
  position: relative;
  z-index: 1;
  background-image: url("../../../assets/img/noise_transparent@2x.png"), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  padding-top: 30px;

  @media screen and (min-width: 769px) and (max-width: 1280px) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;

  @media screen and (max-width: 768px) {
    padding: 0 calc(20px + (30 - 20) * ((100vw - 320px) / (768 - 320)));
    gap: 81px;
  }

  @media screen and (max-width: 320px) {
    gap: 64px
  }

}

.burger {
  width: 30px;
  height: 22px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 800ms;

  &__stripe {
    width: 100%;
    height: 9.090909%;
    /* 2px/22px */
    background-color: #F1CDB3;
  }

  &_active {
    transform: rotate(-90deg);
    transition: all 800ms;
  }

  @media screen and (max-width: 767px) {
    display: flex;
    position: relative;
    z-index: 5;
  }
}

.title-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;

  &__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 110%;
    color: #F1CDB3;
    letter-spacing: 0.06em;
    margin: 0;
    margin-bottom: 10px;
  }

  &__subtitle {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0.1em;
    color: #FFFFFF;
  }
}

.menu {
  display: flex;
  gap: 35px;
  margin-right: 2px; //pixel perfect

  &__item {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    text-decoration: none;
    border-bottom: 3px solid transparent;

    &_active {
      margin-right: 1px; // pixel perfect
      color: #FAFAFA;
      border-bottom: 3px solid #F1CDB3;
      pointer-events: none;
      cursor: default;
    }

    &:hover {
      cursor: pointer;
      color: #FAFAFA;
      transition: 400ms;
    }

    &:active {
      border-bottom: 3px solid #F1CDB3;
      transition: 100ms;
    }
  }

  @media screen and (max-width: 768px) {
    margin: 0; // pixel perfect
  }

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.mobile-menu {
  display: none;
  position: fixed;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  top: 0;
  right: -100%;
  width: 320px;
  height: 100vh;
  background: #292929;
  transition: right 900ms;
  z-index: 4;

  &__item {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 160%;
    color: #CDCDCD;
    text-decoration: none;
    border-bottom: 3px solid transparent;

    &_active {
      color: #FAFAFA;
      border-bottom: 3px solid #F1CDB3;
    }
  }

  &_active {
    right: 0;
    transition: right ease-out 500ms;
  }

  @media screen and (max-width: 767px) {
    display: flex;
  }
}


.not-only {
  @media screen and (min-width: 769px) and (max-width: 1280px) {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.not-only-content {
  min-height: 818px;
  display: flex;
  justify-content: space-between;

  &__description {
    margin-top: 253px;
    display: flex;
    flex-direction: column;
    gap: 42px;
  }

  &__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 130%;
    color: #FFFFFF;
    margin: 0;
  }

  &__text {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: #CDCDCD;
    max-width: 460px;
  }

  &__image {
    align-self: flex-end;
    max-width: 100%;
  }

  @media screen and (max-width: 1200px) {
    gap: 20px;

    &__image {
      width: 60%;
    }
  }

  @media screen and (max-width: 768px) {
    flex-direction: column;
    justify-content: space-between;
    gap: 100px;
    align-items: center;
    padding: 0 calc(10px + (30 - 10) * ((100vw - 320px) / (768 - 320)));

    &__description {
      margin-top: 60px;
    }

    &__button {
      align-self: center;
    }

    &__image {
      width: 80%;
    }
  }

  @media screen and (max-width: 320px) {
    min-height: 733px;

    &__description {
      text-align: center;
    }

    &__title {
      font-size: 25px;
      letter-spacing: 0.06em;
    }

    &__text {
      width: 300px;
    }

    &__image {
      width: 86.666666%;
    }
  }
}

.button-colored {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 207px;
  height: 52px;
  background: #F1CDB3;
  border-radius: 100px;
  border-style: none;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
  text-decoration: none;

  &:hover {
    background-color: #FDDCC4;
    transition: 400ms;
  }
}

.about {
  background-color: #FFFFFF;
  min-height: 588px;

  &-content {
    padding: 80px 0 100px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;

    &__image {
      max-width: 300px;
      max-height: 408px;
    }

    &__description {
      max-width: 430px;
      min-height: 380px;
      display: flex;
      flex-direction: column;
      gap: 25px;
    }

    &__text {
      display: flex;
      flex-direction: column;
      gap: 25px;

      & p {
        margin: 0;
        font-family: 'Arial';
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 160%;
        color: #4C4C4C;
      }
    }

    @media screen and (min-width: 769px) and (max-width: 1280px) {
      padding-left: 40px;
      padding-right: 40px;
    }

    @media screen and (max-width: 810px) {
      gap: 80px;
    }

    @media screen and (max-width: 768px) {
      padding: 82px 30px 100px 30px;
      flex-direction: column-reverse;
      justify-content: center;
      gap: 80px;
    }

    @media screen and (max-width: 320px) {
      padding: 42px 25px;
      justify-content: center;
      gap: 42px;

      &__text {
        text-align: justify;
        gap: 22px;
      }

      &__image {
        max-width: 260px;
        height: 353.6px;
      }
    }
  }
}

.h3-title {
  max-height: 90px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0;

  @media screen and (max-width: 768px) {
    font-size: calc(25px + (35 - 25) * ((100vw - 320px) / (768 - 320)));
  }

  @media screen and (max-width: 320px) {
    text-align: center;
    max-height: 64px;
  }
}

.friends {
  background: #F6F6F6;
  max-height: 877px;

  &-content {
    padding: 80px 0 100px 0;
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;

    &__title {
      text-align: center;
    }

    &__button {
      width: 261px;
    }

    @media screen and (min-width: 769px) and (max-width: 1280px) {
      padding-left: 40px;
      padding-right: 40px;
    }

    @media screen and (max-width: 768px) {
      padding-top: 82px;
      padding-bottom: 100px;
      padding-left: calc(10px + (30 - 10) * ((100vw - 320px) / (768 - 320)));
      padding-right: calc(10px + (30 - 10) * ((100vw - 320px) / (768 - 320)));
    }

    @media screen and (max-width: 320px) {
      padding-top: 42px;
      padding-bottom: 42px;
      gap: 42px;
    }
  }
}

.slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 53px;

  &__cards {
    display: flex;
    justify-content: space-between;
    gap: 90px;
  }

  @media screen and (max-width: 1270px) {
    gap: calc(15px + (53 - 15) * ((100vw - 769px) / (1270 - 769)));

    &__cards {
      gap: calc(15px + (53 - 15) * ((100vw - 769px) / (1270 - 769)));
    }

    &__card:last-child {
      display: none;
    }
  }

  @media screen and (max-width: 768px) {
    gap: 12px;

    &__cards {
      gap: 40px;
    }
  }

  @media screen and (max-width: 765px) {
    &__card:nth-child(n + 2) {
      display: none;
    }
  }

  @media screen and (max-width: 425px) {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    column-gap: 75px;

    &__arrowleft {
      order: 1;
    }

    &__arrowright {
      order: 2;
    }
  }

  @media screen and (max-width: 320px) {
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 80px;
    row-gap: 20px;

    &__card:nth-child(n + 2) {
      display: none;
    }

    &__arrowleft {
      order: 1;
    }

    &__arrowright {
      order: 2;
    }
  }

}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;

  &:hover {
    background-color: #FDDCC4;
    cursor: pointer;
  }

  &:active {
    background-color: #F1CDB3;
  }
}

.button-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FAFAFA;
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #292929;
}

.cards-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 270px;
  height: 435px;
  background: #FAFAFA;
  border-radius: 9px;

  &:hover {
    cursor: pointer;
    background-color: #FFFFFF;
    transition: 400ms;
    box-shadow: 0px 0px 30px 10px rgba(34, 60, 80, 0.2);

    .cards-item__button {
      background-color: #F1CDB3;
      transition: 400ms;
      cursor: pointer;
    }
  }

  &__name {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0.06em;
    color: #545454;
  }

  &__button {
    margin-top: 1px; // pixel perfect
  }
}

.help {
  min-height: 611px;
  padding: 79px 0 100px 0;
  background: #FFFFFF;

  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;

    &__title {
      text-align: center;
    }

    &__row {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      column-gap: 120px;
      row-gap: 55px;
      justify-content: center;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 1280px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (max-width: 768px) {
    padding-top: 80px;
    padding-bottom: 100px;
    padding-left: calc(15px + (69 - 15) * ((100vw - 320px) / (768 - 320)));
    padding-right: calc(15px + (69 - 15) * ((100vw - 320px) / (768 - 320)));

    &-content__row {
      column-gap: 60px;
    }
  }

  @media screen and (max-width: 320px) {
    padding-top: 42px;
    padding-bottom: 42px;

    &-content {
      gap: 42px;

      &__row {
        column-gap: 30px;
        row-gap: 30px;
        justify-content: start;
      }
    }
  }
}

.help-item {
  height: 113px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 30px;

  &__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
  }

  @media screen and (max-width: 768px) {
    width: calc(130px + (170 - 130) * ((100vw - 320px) / (768 - 320)));
    height: calc(87px + (113 - 87) * ((100vw - 320px) / (768 - 320)));

    &__title {
      font-size: calc(15px + (20 - 15) * ((100vw - 320px) / (768 - 320)));
    }
  }

  @media screen and (max-width: 320px) {
    gap: 20px;

    &__icon {
      width: 38.461538%;
      height: 57.471265%;

      &_size1 {
        width: 31%;
      }

      &_size2 {
        width: 20%;
      }
    }
  }
}

.in-addition {
  min-height: 462px;
  padding: 80px 0 100px 0;
  background: #F6F6F6;

  &-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    &__img {
      width: 505px;
      height: 261px;
    }
  }

  @media screen and (min-width: 769px) and (max-width: 1280px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (max-width: 975px) {
    &-content {
      flex-wrap: wrap-reverse;
    }
  }

  @media screen and (max-width: 768px) {
    padding-left: calc(20px + (131.5 - 20) * ((100vw - 320px) / (768 - 320)));
    padding-right: calc(20px + (131.5 - 20) * ((100vw - 320px) / (768 - 320)));

    &-content {
      flex-direction: column-reverse;
      gap: 60px;

      &__img {
        width: calc(260px + (505 - 260) * ((100vw - 320px) / (768 - 320)));
        height: calc(135px + (261 - 135) * ((100vw - 320px) / (768 - 320)));
      }
    }
  }

  @media screen and (max-width: 320px) {
    padding-top: 42px;
    padding-bottom: 42px;

    &-content {
      gap: 42px;
    }
  }
}

.donation-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  max-width: 380px;

  &__subtitle {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #545454;
    margin: 0;
  }

  &__description {
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #B2B2B2;
  }

  &__link {
    width: 349px;
    height: 43px;
    background: #f1cdb3e8;
    border-radius: 9px;
  }

  @media screen and (max-width: 768px) {
    &__link {
      width: calc(281px + (349 - 281) * ((100vw - 320px) / (768 - 320)));
    }
  }

  @media screen and (max-width: 320px) {
    &__subtitle {
      letter-spacing: 0;
      line-height: 160%;
      text-align: center;
    }

    &__description {
      text-align: justify;
    }
  }
}

.donation-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  text-decoration: none;

  &:hover {
    background: #FDDCC4;
    transition: 400ms;
  }

  &__text {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #545454;
  }

  @media screen and (max-width: 768px) {
    &__text {
      font-size: calc(15px + (20 - 15) * ((100vw - 320px) / (768 - 320)));
    }
  }
}

.footer {
  min-height: 350px;

  &-content {
    min-height: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__img {
      align-self: flex-end;
    }

    &__adress {
      margin-right: 22px; //pixel perfect
    }
  }

  @media screen and (min-width: 769px) and (max-width: 1280px) {
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (max-width: 1010px) {
    padding-top: 20px;

    &-content {
      flex-wrap: wrap;
      justify-content: space-around;
      row-gap: 40px;
    }
  }

  @media screen and (max-width: 768px) {
    padding-top: 30px;
    padding-left: calc(10px + (30 - 10) * ((100vw - 320px) / (768 - 320)));
    padding-right: calc(10px + (30 - 10) * ((100vw - 320px) / (768 - 320)));

    &-content {
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 65px;
      column-gap: 37px;

      &__adress {
        margin: 0; // pixel perfect
      }
    }
  }

  @media screen and (max-width: 320px) {
    &-content {
      flex-flow: column nowrap;
      align-items: center;
      gap: 42px;

      &__questions {
        margin: 0;
      }

      &__adress .info-block__location {
        align-self: flex-start;
      }

      .info-block {
        width: 100%;
        align-items: center;
        height: auto;
        gap: 41.5px;

        &__title {
          max-width: 278px;
        }
      }

      &__img {
        width: 86.666667%;
        /* 260px/300px */
        height: 86.774194%;
        /* 269px/310px */
        align-self: center;
      }
    }
  }
}

.info-block {
  height: 234px;
  max-width: 302px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

  &__title {
    color: #FFFFFF;
  }
}

.link-block {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  text-decoration: none;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;

  &:hover {
    color: #FFFFFF;
    transition: 400ms;
  }
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  background-color: rgb(0, 0, 0);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
  transition: all 800ms;

  &_active {
    visibility: visible;
    opacity: 0.5;
  }
}

.pop-up {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  transition: all 500ms;

  &_visibility {
    visibility: visible;
    opacity: 1;
  }

  &__content {
    position: relative;
    width: 900px;
    height: 500px;
    background: #FAFAFA;
    border-radius: 9px;
  }

  &__close {
    background: url('../../../assets/icons/modal_window_cross.png') center no-repeat;
    width: 52px;
    height: 52px;
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    position: absolute;
    top: -56px;
    right: -43px;

    &:hover {
      cursor: pointer;
    }
  }

  @media screen and (max-width: 1280px) {
    &__content {
      width: calc(630px + (900 - 630) * ((100vw - 768px) / (1280 - 768)));
      height: calc(380px + (500 - 380) * ((100vw - 768px) / (1280 - 768)));
    }
  }

  @media screen and (max-width: 768px) {
    &__content {
      width: calc(240px + (630 - 240) * ((100vw - 320px) / (768 - 320)));
      height: calc(370px + (380 - 370) * ((100vw - 320px) / (768 - 320)));
    }

    &__close {
      right: calc(-1 * (30px + (43 - 30) * ((100vw - 320px) / (768 - 320))));
    }
  }
}

.popup-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 40px;
    padding: 50px 20px 88px 29px;
  }

  &__titleblock {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__title {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 130%;
    letter-spacing: 0.06em;
    color: #000000;
  }

  &__subtitle {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    letter-spacing: 0.06em;
    color: #000000;
  }

  &__description {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 110%;
    letter-spacing: 0.06em;
    color: #000000;
  }

  &__image {
    width: 60%;
    height: 100%;
    border-radius: 9px;
  }

  @media screen and (max-width: 1280px) {
    &__description {
      font-size: calc(13px + (15 - 13) * ((100vw - 768px) / (1280 - 768)));
    }

    &__info {
      gap: calc(20px + (40 - 20) * ((100vw - 768px) / (1280 - 768)));
    }
  }

  @media screen and (max-width: 950px) {
    &__info {
      padding: 10px 9px 30px 11px;
    }
  }

  @media screen and (max-width: 768px) {
    &__info {
      padding-bottom: calc(10px + (30 - 10) * ((100vw - 320px) / (760 - 320)));
      gap: 20px;
    }

    &__description {
      font-size: 13px;
    }
  }

  @media screen and (max-width: 750px) {
    &__image {
      display: none;
    }
  }
}

.list {
  font-family: 'Georgia';
  font-style: normal;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  padding-left: 15px;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;

  li {
    color: #F1CDB3;
  }

  .list__item {
    font-weight: 700;
    color: #000000;
  }

  .list__text {
    font-weight: 400;
    color: #000000;
  }

  @media screen and (max-width: 768px) {
    gap: 5px;
  }
}